*
{
margin: 0;
padding: 0;
}

body
{
    background-color: #f1f3f4;
    font-family: sans-serif;    
}
.top-nav-bar
{
    height: 95px;
    top: 3px;
    position: sticky;
    background: #fff;
    margin-bottom: 80px;
    border-bottom: 10px solid orange;
    z-index: 2;
}

.logo 
{
    height: 80px;
    margin: 5px 10px;
}
.form-control 
{
    margin-top: 18px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: none !important;

}

.input-group-text
{
    background: orange!important;
    border: 1px solid orange !important;
    margin: 18px 10px 33px 0px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}



.search-box
{
    display: inline-flex;
    widows: 60%;

}

.fa-search 
{
    color: #fff;
}

.menu-bar
{
    width: 40px;
    height: 57px;
    float: right;
}

.menu-bar ul
{
    display: inline-flex;
    float: right;
}

.menu-bar ul li
 {
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}

.menu-bar ul li a

{
font-size: 16px;
font-weight: bold;
color: #fff;
text-decoration: none;
}

.fa-shopping-basket
{
    margin-right: 5px;
}